{
  "cm_database": {
     "dbname": "cm",
     "schema": "public",
     "user": "cm_user",
     "password": "Fortitude19",
     "port": "5439",
     "host": "dsare-dev-multi.cpixoeaouhqk.us-east-1.redshift.amazonaws.com",
     "cluster": "dsare-dev-multi",
     "credentials": "aws_iam_role=arn:aws:iam::709957318545:role/DEV-Redshift"
  }
}